    <div class="layout-stacked__header header">
      <header class="project__header">
        <div class="layout-container">
          <div class="header-wrap">
            {{#unless showSummaryOnly}}
              <h1 class="project__header__title">Snyk test report</h1>
            {{else}}
              <h1 class="project__header__title">Snyk test summary</h1>
            {{/unless}}

            <p class="timestamp">{{moment d "MMMM Do YYYY, h:mm:ss a"}}</p>
          </div>
          {{#if paths}}
          <div class="source-panel">
            <span>Scanned the following paths:</span>
            <ul>
              {{#each paths}}<li class="paths">{{path}} ({{packageManager}})</li>{{/each}}
            </ul>
          </div>
          {{/if}}
          {{#if path}}
          <div class="source-panel">
            <span>Scanned the following path:</span>
            <ul>
              <li class="paths">{{path}} ({{packageManager}})</li>
            </ul>
          </div>
          {{/if}}

          <div class="boxes">
            <div class="box">
              <table>
                <tr class="meta-row"><th class="meta-row-label">Critical</th><td class="meta-row-value">{{vulBreakdown.critical}}</td></tr>
                <tr class="meta-row"><th class="meta-row-label">High</th><td class="meta-row-value">{{vulBreakdown.high}}</td></tr>
                <tr class="meta-row"><th class="meta-row-label">Medium</th><td class="meta-row-value">{{vulBreakdown.medium}}</td></tr>
                <tr class="meta-row"><th class="meta-row-label">Low</th><td class="meta-row-value">{{vulBreakdown.low}}</td></tr>
                <tr class="meta-row"><th class="meta-row-label">Total</th><td class="meta-row-value">{{uniqueCount}}</td></tr>
              </table>
            </div>
            <div class="box">
              <table>
                <tbody>
                {{#if projectName}}<tr class="meta-row"><th class="meta-row-label">Project</th> <td class="meta-row-value">{{projectName}}</td></tr>{{/if}}
                {{#if path}}<tr class="meta-row"><th class="meta-row-label">Path</th> <td class="meta-row-value">{{path}}</td></tr>{{/if}}
                {{#if packageManager}}<tr class="meta-row"><th class="meta-row-label">Package Manager</th> <td class="meta-row-value">{{packageManager}}</td></tr>{{/if}}
                {{#if displayTargetFile}}<tr class="meta-row"><th class="meta-row-label">Manifest</th> <td class="meta-row-value">{{displayTargetFile}}</td></tr>{{/if}}
                </tbody>
              </table>
            </div>
          </div>
        </div><!-- .layout-container--short -->
      </header><!-- .project__header -->
    </div><!-- .layout-stacked__header -->
