<div class="layout-container">
<table class="metatable">
    <tbody>
    <tr class="meta-row"><th class="meta-row-label">Vulnerabilities</th> <td class="meta-row-value">{{uniqueCount}}</td></tr>
    <tr class="meta-row"><th class="meta-row-label">Dependencies</th> <td class="meta-row-value">{{dependencyCount}}</td></tr>
    <tr class="meta-row"><th class="meta-row-label">Created on</th> <td class="meta-row-value">{{moment d "MMMM Do YYYY, h:mm:ss a"}}</td></tr>
    <tr class="meta-row"><th class="meta-row-label">Branch</th> <td class="meta-row-value">{{path}}</td></tr>
    <tr class="meta-row"><th class="meta-row-label">Tested with</th> <td class="meta-row-value">{{packageManager}}</td></tr>
    <tr class="meta-row"><th class="meta-row-label">Manifest</th> <td class="meta-row-value">{{displayTargetFile}}</td></tr>
    </tbody>
</table><!-- .meta-counts -->
</div><!-- .layout-container-->
